  {{>upperbody}}

<body>
   {{!-- {{>navbar.hbs}} --}}
  {{>navbar}}

    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div  -->
                    <div class="col-md-6 col-12 main_header_right">
                       <figure>
                            <img src="images/man.png" alt="weather-img"class="img-fluid"title="Thapa technical">
                       </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I Am A <span class="text-clr">Mern Stack Developer</span> Youtuber And A Freelancer</h1>
                        <a href="https://www.google.com" target="_thapa"><button>About me</button></a>
                    </div>
                    <!-- right side div  -->
                   
                </div>
            </div>
        </div>
    </div>

    <!-- footer code  -->
   {{>footer}}
