{{>upperbody}}

<body>
    {{!-- {{>navbar.hbs}} --}}
    {{>navbar}}

    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="main_content">
                    <form class="temp_form">
                        <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="off">
                        <input type="submit" value="search" id="submitBtn">
                    </form>
                </div>
                <div class="tempInformation">
                    <div class="top_layer">
                        <p id="day">monday</p>
                        <p id="today_data">13 Oct</p>
                    </div>
                    <div class="main_layer">
                        <p id="city_name">Get Output here</p>
                        <div class="middle_layer ">
                            <p id="temp1"><span id="temp">0</span><sup>o</sup>C</p>
                            <p id="temp_status"><i class="fa fa-cloud" id="weather-icon"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- footer code  -->

        {{>footer}}